[submodule "TGC000"]
	path = TGC000
	url = https://github.com/uni-kakurenbo/TGC000
[submodule "TGC001"]
	path = TGC001
	url = https://github.com/uni-kakurenbo/TGC001
[submodule "TGC002"]
	path = TGC002
	url = https://github.com/uni-kakurenbo/TGC002
[submodule "TGC003"]
	path = TGC003
	url = https://github.com/uni-kakurenbo/TGC003.git
